<h1>Le blog d'Akinator</h1>
<p>Ici, retrouvez tous les articles concernant le monde du jeu, de la magie, des enquêtes... </p>

<% @articles.each do |article| %>
<div class="article">
	<h2><%= article["title"] %></h2>
	<p><%= article["content"] %></p>
</div>
<% end %>

