<div class="wrapper" style="background-image: url('https://images.pexels.com/photos/909654/pexels-photo-909654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">

<h1>Akinator</h1>


<p>Teste les connaissances d'Akinator et essaye de le piéger !</p>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				
			</div>
			<div class="col-md-3">
		<%= link_to( "Mon blog", pages_blog_path, method: :get, class: "btn btn-outline-warning boutons" ) %>
		
			</div>			
			<div class="col-md-3">
				<%= link_to( "Commencer le jeu", games_path, method: :post, class: "btn btn-outline-light boutons" ) %>
			</div>
			<div class="col-md-3">
				<img src="https://fr.akinator.com/bundles/elokencesite/images/akitudes_670x1096/defi.png?v95", class="avatar">
		</div>
	</div>

</div>

<%= Time.now.strftime("%d/%m/%y %Hh%M") %>
